<app-side-nav></app-side-nav>
<app-global-header></app-global-header>
<div class="main-container">
    <div class="header-row">
        <ng-container>
            <div class="row row-cols-4 ">
                <div class=" mb-4 col col-sm-6 col-lg-3 col-xxl-2">
                    <div class="card group-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start ">
                                <img src="../../../assets/group-img.jpg" class="folders mb-3 " alt="">
                                <img src="../../../assets/ph_dots-three-bold.png" class="object-fit-contain three-dots"
                                    alt="">
                            </div>
                            <p class="card-title fw-bold m-0">South Zone</p>
                            <p class="card-text policy">210 Policies <span class="d-flex align-items-center gap-1"><i
                                        class="ri-checkbox-blank-circle-fill dot"></i> 5
                                    Users</span></p>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between ">
                            <a href="#" class="nav-link text-dark p-0">View</a>
                            <i class="ri-arrow-right-line"></i>
                        </div>
                    </div>
                </div>
                <div class=" mb-4 col col-sm-6 col-lg-3 col-xxl-2">
                    <div class="card group-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start ">
                                <img src="../../../assets/group-img.jpg" class="folders mb-3 " alt="">
                                <img src="../../../assets/ph_dots-three-bold.png" class="object-fit-contain three-dots"
                                    alt="">
                            </div>
                            <p class="card-title fw-bold m-0">South Zone</p>
                            <p class="card-text policy">210 Policies <span><i
                                        class="ri-checkbox-blank-circle-fill dot"></i> 5
                                    Users</span></p>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between ">
                            <a href="#" class="nav-link text-dark p-0">View</a>
                            <i class="ri-arrow-right-line"></i>
                        </div>
                    </div>
                </div>
                <div class=" mb-4 col col-sm-6 col-lg-3 col-xxl-2">
                    <div class="card group-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start ">
                                <img src="../../../assets/group-img.jpg" class="folders mb-3 " alt="">
                                <img src="../../../assets/ph_dots-three-bold.png" class="object-fit-contain three-dots"
                                    alt="">
                            </div>
                            <p class="card-title fw-bold m-0">South Zone</p>
                            <p class="card-text policy">210 Policies <span><i
                                        class="ri-checkbox-blank-circle-fill dot"></i> 5
                                    Users</span></p>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between ">
                            <a href="#" class="nav-link text-dark p-0">View</a>
                            <i class="ri-arrow-right-line"></i>
                        </div>
                    </div>
                </div>
                <div class=" mb-4 col col-sm-6 col-lg-3 col-xxl-2">
                    <div class="card group-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start ">
                                <img src="../../../assets/group-img.jpg" class="folders mb-3 " alt="">
                                <img src="../../../assets/ph_dots-three-bold.png" class="object-fit-contain three-dots"
                                    alt="">
                            </div>
                            <p class="card-title fw-bold m-0">South Zone</p>
                            <p class="card-text policy">210 Policies <span><i
                                        class="ri-checkbox-blank-circle-fill dot"></i> 5
                                    Users</span></p>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between ">
                            <a href="#" class="nav-link text-dark p-0">View</a>
                            <i class="ri-arrow-right-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>