.dot {
    font-size: 10px;
}

.policy {
    display: flex;
    align-items: center;
    gap: 12px;
}

.three-dots {
    transform: rotate(90deg);
}

.group-card {
    border: none;
    background-color: #D4FFF5;
}

.folders {
    mix-blend-mode: multiply !important;
}

.group-card:hover {
    transition: 0.5s;
    background-color: #dff5ef;
}

.group-card:hover .card-footer {
    background-color: #b2fceb;
    cursor: pointer;
}

.manage-btn:hover {
    background: transparent;
    color: black;
    border-color: #AE7744;
}

.manage-btn {
    background-color: #AE7744;
    color: white;

}

.folder-card {
    background: #D4FFF5;
    width: 12rem;
    height: 8rem;
}

.folder-card:hover {
    background: #00ffff14;
    box-shadow: 3px 5px rgb(209 202 202);
    transition: 0.5s;

    .card-footer {
        background-color: #D4FFF5;
    }
}

.folders {
    width: 50px;
}

.three-dots-1 {
    width: 22px;
    transform: rotate(90deg);

    cursor: pointer;
}

.three-dots {
    width: 24px;
    transform: rotate(90deg);
    position: relative;
    left: 6px;
    top: 5px;
    cursor: pointer;
}

.card-title {
    font-size: 16px;
}


.card-title-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.card-body,
.card-footer {
    padding: 10px 25px;
}


.card-footer {
    cursor: pointer;
    background: transparent;
    border-top: 1px solid white;
}

.table>:not(:last-child)>:last-child>* {
    font-size: 14px !important;
    border-bottom: 1px solid #00000030;
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.groupBuckets {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.groupBuckets1 {
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

// .viewall {
//     text-decoration: none !important;
//     background-color: blue !important;
//     color: white !important;
//     padding: 6px 6px !important;
//     border-radius: 5px;
//     font-size: 14px;
//     cursor: pointer;
// }

@media screen and (max-width: 1440px) {
    .groupBuckets {
        width: 870px !important;
    }

    .viewall-btn-div {
        background: grey;
        /* height: -webkit-fill-available; */
        position: absolute;
        right: 0px;
        width: 10rem;
        height: 8rem;
        top: 59px;
        right: 19px;
        display: flex;
        align-items: center;
        background: white;
        justify-content: center;
        box-shadow: 0px 0px 7px #a0a7a6;
        font-size: 16px;
        cursor: pointer;
    }

    .viewall-btn-div p {
        color: black;
        text-decoration: none;
        text-transform: lowercase;
    }

    .viewall-btn-div:hover {
        background: #D4FFF5;
        transition: 0.5s;
    }
}


@media screen and (min-width: 1440px) {
    .groupBuckets {
        width: 1380px !important;
    }

    .viewall-btn-div {

        position: absolute;
        width: 12rem;
        height: 7rem;
        top: 67px;
        right: 19px;
        right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        box-shadow: 0px 0px 7px #a0a7a6;
        font-size: 16x;
        cursor: pointer;

    }

    .viewall-btn-div p {
        color: black;
        text-decoration: none;
    }

    .viewall-btn-div:hover {
        background: #D4FFF5;
        transition: 0.5s;
    }

}