.header-row-1 {
    background-color: #F8F5F5;
    display: flex;
    align-items: center;
    margin-left: 193px;
    padding: 0px 14px 0px 29px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.category-btn {
    background-color: #AE7744;
    color: white;
    padding: 0px 6px;
}

.filter {
    font-size: 16px;
}

.category-div {
    width: fit-content;
    margin: auto;
    border: 1px solid #C5C5C5;
    padding: 5px 8px;
    border-radius: 5px;
}

.arrow::before {
    border: 1px solid #E4E4E4;
}

.arrow {
    font-size: 20px;
    cursor: pointer;
}


.disabled-icon {
    opacity: 0.5;
    /* Decrease the opacity to make it appear disabled */
    pointer-events: none;
    /* Disable pointer events so it cannot be clicked */
}