.container-fluid {
    position: sticky;
    top: 50px;
    background: white;
    z-index: 98;
}

.header-row-1 {
    background-color: #F8F5F5;
    display: flex;
    align-items: center;
    margin-left: 193px;
    padding: 0px 14px 0px 29px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.msg {
    font-weight: bold;
    position: relative;
    font-size: 12px;
}

.gridView {
    background-color: #AE7744;
    border-radius: 5px;
}

.gridView i {
    color: white !important;
}


.listView {
    border-radius: 5px;
    background-color: #AE7744;
}

.listView i {
    color: white !important;
}

.category-btn {
    color: black;
    padding: 0px 6px;
}

.form-check-input[type=radio]:checked .form-check-label {
    background-color: #AE7744 !important;
    color: white;
    padding: 0px 6px;

}

.errMsg {
    font-size: 12px;
}

.add-bucket {
    color: white;
    background-color: #AE7744;
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.list-icon {
    padding: 0px 5px;
}

.filter {
    font-size: 16px;
}

.category-div {
    width: fit-content;
    margin: auto;
    border: 1px solid #C5C5C5;
    padding: 5px 8px;
    border-radius: 5px;
}

.arrow::before {
    border: 1px solid #E4E4E4;
}

.arrow {
    font-size: 20px;
    cursor: pointer;
}

.folders {
    font-size: 14px;
    padding: 4px 8px;
}

.arrow-btn {
    padding: 0px;
}

.folders {
    font-size: 14px;
    padding: 4px 8px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100px !important;
}