<div class="container-fluid content-con me-3 ">
    <div class=" header-row ">
        <form class="search-files-form">
            <div class="input-group m-2  border-2 ">
                <span class="input-group-text text-dark bg-white border-0 "><i class="ri-search-line search"></i></span>
                <input type="text" class="form-control border-0 " placeholder="Search for files">
            </div>
        </form>
        <button class="btn btn-warning text-white profile-btn">ML</button>
    </div>

</div>