.container-fluid {
    position: sticky;
    top: 0px;
    background: white;
    z-index: 100;
}

.content-con {
    // padding-top: 20px;
    height: fit-content;
    margin-right: 18px !important;
    margin: 0px;
    padding-right: 0px;

}

.search-files-form input {
    border-left: 0px;
    box-shadow: none;
}

.search-files-form .input-group {
    border: 1px solid #00000005;
}

.profile-btn {
    background-color: #AE7744;
    border: none;
    margin-right: 8px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: none;
}

.header-row {
    background-color: #EDEDED;
    margin-left: 193px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    // margin-left: 283px;
}


.header-row-1 {
    background-color: #F8F5F5;
    display: flex;
    align-items: center;
    // margin-left: 283px;
    // margin-left: calc(var(--a));

}


.category-btn {
    background-color: #AE7744;
    color: white;
    padding: 0px 6px;

}

.filter {
    width: 37px;
}

.category-div {
    width: fit-content;
    margin: auto;
    border: 1px solid #C5C5C5;
    padding: 0px 8px;
}

.arrow::before {
    border: 1px solid #E4E4E4;
}

.header-row {
    display: flex;
    justify-content: end !important;
    padding: 7px !important;
}

.card-header {
    background-color: #FFD8B2;
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    width: 18rem;
    height: 16rem;
}

.profile-btn-1 {
    position: relative;
    top: 26px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #AE7744;
    color: white !important;
}

.change-pass,
.logout {
    cursor: pointer;
    padding: 3px 5px;

}

.msg {
    font-weight: bold;
    position: relative;
    bottom: 10px;
    font-size: 12px;
}


.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.change-pass:hover,
.logout:hover {
    background: #FFD8B2;
}

.name {
    width: max-content;
}

.dropdown-menu {
    background: transparent;
    border: none;
    min-width: unset; // min-width: none !important;
}