<nav class="navbar navbar-expand-lg navbar-light bg-dark header">
  <div class="container-fluid d-flex flex-column side-bar-con">
    <a class="navbar-brand">
      <h5 class="text-white">Finance Data Archive</h5>
    </a>
    <button
      class="navbar-toggler"
      data-bs-target="#lis"
      data-bs-toggle="collapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="lis">
      <ul class="navbar-nav w-100">
        <li
          class="nav-item w-100"
          *ngIf="userType == 'admin' || userType == 'regular_user'"
        >
          <a
            [routerLink]="['/dashboard']"
            [queryParams]="{ name: 'Dashboard' }"
            [routerLinkActiveOptions]="options"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/dashboard.png" alt="" /> Dashboard</a
          >
        </li>
        <li
          class="nav-item w-100"
          *ngIf="userType == 'admin' || userType == 'regular_user'"
        >
          <a
            routerLink="/buckets"
            [routerLinkActiveOptions]="options"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/entypo_bucket.png" alt="" /> Archives</a
          >
        </li>
        <li class="nav-item" *ngIf="userType == 'admin'">
          <a
            routerLink="/user-management"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/usermanage.png" alt="" /> User Management</a
          >
        </li>
        <li class="nav-item" *ngIf="userType == 'admin'">
          <a
            routerLink="/groups"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/policies.png" alt="" /> Groups</a
          >
        </li>
        <li class="nav-item" *ngIf="userType == 'admin'">
          <a
            routerLink="/logs"
            [queryParams]="{ name: 'Logs' }"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/log.png" alt="" /> Logs</a
          >
        </li>
        <!-- <li class="nav-item" *ngIf="userType == 'admin'">
          <a
            routerLink="/application_logs"
            [queryParams]="{ name: 'Application Logs' }"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/log_app.svg" alt="" /> Application Logs</a
          >
        </li> -->
        <li class="nav-item" *ngIf="userType == 'admin'">
          <a
            routerLink="/settings"
            routerLinkActive="active"
            class="nav-link text-white"
            ><img src="../../assets/settings.png" alt="" /> Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-header></app-header>
<app-loader></app-loader>
