<app-side-nav></app-side-nav>
<app-global-header
  [tabname]="TabName"
  (createuser)="userCreated($event)"
  (searchUsers)="searchUsers($event)"
></app-global-header>

<div class="main-container">
  <div class="header-row">
    <table class="table table-striped">
      <thead class="fw-bold">
        <tr class="table-secondary text-center">
          <td scope="col" class="text-center">Name</td>
          <td colspan="3" class="buckets" scope="col">Bucket</td>
          <td scope="col">Action</td>
        </tr>
      </thead>
      <tbody *ngFor="let user of allUsers">
        <tr class="body-tr">
          <td class="text-start text-nowrap">
            <div class="d-flex align-items-center gap-4">
              <p class="name-title m-0">{{ user.name[0].toUpperCase() }}</p>
              {{ user.name }}
            </div>
          </td>
          <td
            colspan="3"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            [title]="user?.bucketname"
            *ngIf="user.bucketname"
            class="text-center buckets"
          >
            {{ user.bucketname }}
          </td>
          <td colspan="3" *ngIf="!user.bucketname" class="text-center">
            <i class="ri-subtract-line sub"></i>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-evenly">
              <div class="form-check form-switch">
                <input
                  [checked]="user?.userstatus == 'enabled'"
                  class="form-check-input shadow-none"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  (change)="enableUser(user?.name, user?.userstatus)"
                />
              </div>
              <button
                class="btn btn-primary shadow-none d-flex gap-1 view-polici"
                (click)="open(content1, null)"
                (click)="viewUserBuckets(user)"
              >
                <i class="ri-information-line info"></i>Assigned Properties
              </button>

              <ng-template #content1 let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">
                    {{ userData?.username }}
                  </h4>
                  <button
                    [disabled]="spinner"
                    type="button"
                    class="btn-close shadow-none"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body">
                  <h6
                    *ngIf="userData?.buckets.length == 1"
                    class="modal-title mb-3"
                    id="modal-basic-title"
                  >
                    Property
                  </h6>
                  <h6
                    *ngIf="userData?.buckets.length > 1"
                    class="modal-title mb-3"
                    id="modal-basic-title"
                  >
                    Properties
                  </h6>
                  <div class="row row-cols-3" *ngIf="userData?.buckets">
                    <div class="col" *ngFor="let i of userData?.buckets">
                      <div class="userBucket">
                        {{ i.toUpperCase() }}
                      </div>
                    </div>
                  </div>
                  <ol *ngIf="!userData?.buckets">
                    <li style="list-style: none">No Bukcets Found</li>
                  </ol>
                </div>
              </ng-template>

              <button
                class="btn btn-light shadow-none d-flex gap-1 add-policy"
                [disabled]="user.userstatus == 'disabled'"
                (click)="open(content2, user)"
              >
                <i class="ri-add-line plus"></i> Add Property
              </button>

              <ng-template #content2 let-modal1>
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-basic-title">
                    Add Properties
                  </h5>
                  <button
                    [disabled]="spinner"
                    type="button"
                    class="btn-close shadow-none"
                    aria-label="Close"
                    (click)="modal1.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body">
                  <form #form="ngForm" (ngSubmit)="addUserBucket(form, user)">
                    <label for="" class="form-label">username</label>
                    <input
                      readonly
                      type="text"
                      class="form-control mb-3"
                      name="username"
                      #username="ngModel"
                      [(ngModel)]="addbucket.username"
                    />
                    <div class="mb-3">
                      <ng-multiselect-dropdown
                        #bukcets="ngModel"
                        name="buckets"
                        [(ngModel)]="addbucket.buckets"
                        placeholder="Select Properties"
                        [data]="allBuckets"
                        [settings]="dropdownSettings"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                    <p class="m-0 text-danger msg mb-3" *ngIf="selectMsg">
                      Select Properties
                    </p>
                    <button
                      *ngIf="spinnerBtn"
                      class="btn btn-dark mb-3 w-100 addBucket"
                      type="submit"
                    >
                      Add Properties
                    </button>
                    <button
                      *ngIf="spinner"
                      disabled
                      class="btn btn-dark text-white w-100 shadow-none"
                    >
                      <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </button>
                  </form>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
