/* You can add global styles to this file, and also import other style files */

.main-container {
    margin-left: 193px;
    position: relative;
    top: 15px;
    padding-left: 18px;
}

.content-con {
    padding: 0px;
}

.header-row {
    padding: 0px 15px 0px 19px !important;
}

.main-container .row {
    padding: 20px;

}